.mdc-dialog__title {
    font-size:30px!important;
    font-family: "Open Sans", sans-serif;
  }
  ul li{
    line-height: 30px;
    font-size: 16px;
    color: #666;
  }
  .close_btn button{
    border: none;
    outline: none;
    font-size: 28px;
    background-color: transparent!important;
  }
  .my_btn{
    background-color: green;
    color: white;
    border: none!important;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    border-radius: 7px;
  }