* {
  margin: 0;
  padding: 0;
}

.s-in-up {
  color: white;
  font-size: 30px;
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.42em;
}
.main-form {
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("https://www.teahub.io/photos/full/165-1650027_mountain-backgrounds-download-desktop-desktop-wallpapers-mountain-wallpaper.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
form {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"],
select,
textarea,
button {
  outline: none !important;
  border: none !important;
  width: 100%;
  border-radius: 18px;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 15px !important;
  font-size: 16px;
}
input:disabled{
color: white!important;
}
span {
  padding-left: 15px;
}
 form p {
  text-align: left !important;
}
.btn {
  background-color: green;
  color: white;
  border: none!important;
  font-size: 15px;
  padding: 15px;
  font-weight: bold;
}
label {
  color: white;
}
.cust-form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
